body {
	padding: 0.75rem;
	display: flex;
	min-height: 100vh;
}

#main-nav-bar {
	padding: 0rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.avatar-container {
	width: 3rem;
	height: 3rem;
	border-radius: 100%
;
}



.property-card {
	color: aliceblue;
	margin: 2rem 0rem;
	border-radius: 1rem;
	min-height: 10rem;
	background-size: cover;
	background-position: center;
}

.property-card-title {
	grid-area: main-left;
}

.property-card-location {
	grid-area: sub-left;
}

.property-card-price {
	grid-area: main-right;
	justify-self: center;
	font-size: 2.5em;
	font-weight: bold;
}

.property-card-button {
	grid-area: sub-right;
}

#property-title {
	font-family:'Times New Roman', Times, serif;
	font-size: 3.5rem;
	font-weight: bold;
	text-align: left;
}
#property-info-subtitle {
	width: 100%;
	max-height: 4rem;
	display: flex;
	
	justify-content: space-between;
}

#property-location {
	font-style: italic;
	align-self: end;
	
}

#property-price {
	align-items: end;
	justify-items: center;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas: 
	"upper-left ."
	". lower-right";
	
}

#price {
	grid-area: upper-left;
	justify-self: end;
	margin: -1.6rem 0.2rem;
	font-size: 3em;
	font-weight: bolder;
}

#per-night {
	grid-area: lower-right;

}

#carousel-wrapper {
	
	border: solid 10px  aliceblue;
	border-radius: 4% 4% 0% 0%;

}

#property-description {
	width: 100%;
	padding: 1rem;
	background-color: aliceblue;
}

.card-overlay {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas:
		"main-left  main-right"
		"sub-left sub-right";
	padding: 1rem;
	border-radius: 1rem;
	background: rgba(0, 0, 0, 0.5);
	height: 10em;
	justify-items: left;
	align-items: center;
}

#property-spotlight {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#review-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
